<div class="container">
  <div class="wrapper">
    <div class="rect-controls" *ngIf="selectedRectId">
      <h4>Retângulo</h4>
      <label for="rectConfig">
        Arredondamento dos cantos
        <input
          type="range"
          name="rectConfig"
          id="rectConfig"
          min="0"
          default="0"
          max="20"
          [(ngModel)]="rectCornerRound"
        />
        <span class="corner-round">{{ rectCornerRound }}</span>
      </label>
    </div>
    <div class="star-controls" *ngIf="selectedStarId">
      <h4>Estrela</h4>
      <label for="starConfig">
        Pontas
        <input
          type="range"
          name="starConfig"
          id="starConfig"
          min="3"
          default="15"
          max="50"
          [(ngModel)]="starPoints"
        />
        <span class="corner-round">{{ starPoints }}</span>
      </label>
      <label>
        Nível de profundidade das pontas
        <input
          type="range"
          name="shapeConfig"
          id="shapeConfig"
          min="0"
          default="15"
          max="30"
          [(ngModel)]="starPointsDepthLevel"
        />
        <span class="corner-round">{{ starPointsDepthLevel }}</span>
      </label>
    </div>
    <div>
      <div>
        <svg
          canvasSvg
          canvasSvgClass="canvasSvg"
          (click)="getMousePosition($event)"
        >
          <ng-container *ngFor="let shape of shapes">
            <rect
              *ngIf="shape.type === 'rect'"
              rectangle
              rectClass="rectShape"
              [width]="shape.width"
              [height]="shape.height"
              [rx]="shape.rx ?? 0"
              [ry]="shape.ry ?? 0"
              [x]="shape.x"
              [y]="shape.y"
              (click)="$event.stopPropagation(); onRectClick(shape.id)"
              (keydown)="onKeyPress($event, shape.id)"
              tabindex="0"
            ></rect>
            <polygon
              *ngIf="shape.type === 'star'"
              star
              starClass="starShape"
              [numPoints]="shape.numPoints ?? 3"
              [innerRadius]="shape.innerRadius ?? 15"
              [attr.transform]="`translate(${shape.x},${shape.y})`"
              (click)="$event.stopPropagation(); onStarClick(shape.id)"
              (keydown)="onKeyPress($event, shape.id)"
              tabindex="0"
            ></polygon>
          </ng-container>
        </svg>
      </div>
      <controls
        class="controls-btns"
        (addRectangleClick)="handleAddRectangleClick($event)"
        (addStarClick)="handleAddStarClick($event)"
        (clearClick)="handleClearClick()"
      >
      </controls>
    </div>
  </div>
</div>
